/* FORMULARIO DE CONTACTO Y EL MAPA*/
.contact-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; /* Asegúrate de que los elementos comiencen desde arriba */
    margin: 2%;
    margin-left: 10%;

    form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 15px;
        max-width: 400px;
    }
/* Estilo de los encabezados */
    h4 {
        margin-bottom: 15px;
        font-size: 1.5em;
        color: #333;
        }
/* Estilos de los inputs y texto */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 15px; /* Espacio inferior común */
    }
    
/* Efecto en el input y textarea al enfocar */
    input:focus,
    textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
/* Estilos del botón de envío */
    input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    }
    
/* Efecto en el botón de envío al pasar el ratón */
    input[type="submit"]:hover {
    background-color: #0056b3;
    } 
    
}

    .map-container {
        width: 55%; 
        margin-left: 20px; 
    }

    .form__contacto {
        margin-bottom: 20px;
        flex-direction: column;
        gap: 5px; /* Ajuste del espacio entre elementos */
    }
    



